<div class="wrapper">
  <app-header></app-header>
  <main class="main">
    <section class="border-bottom search-header">
      <div class="d-flex justify-content-between search-sec-form search-sec-form--long">
        <app-search-field></app-search-field>
      </div>
    </section>
    <div class="page">
      <div class="page__main">

        <section class="table-section">
          <div class="larg-container">
            <div class="telegram-auth-widget-wrapper" #widgetWrapper>
            </div>
          </div>
        </section>
      </div>
    </div>
  </main>
</div>
