<section class="table-section" *ngIf="validatorSet">
  <div class="larg-container">
    <h2 class="table-section__title" *ngIf="showHeader">
      <span class="color-gray-800 validation-cycle-header-dates ">
        {{(validatorSet.utimeSince | time: 'llll') | async}}&nbsp;&mdash;&nbsp;{{(validatorSet.utimeUntil | time: 'llll') | async}}
      </span>
      <span class="validation-cycle-header-title" [innerHTML]="'validators-list.validation-cycle' | translate"></span>
    </h2>
    <div class="tablewrap">
      <table class="table table-sm cust-table cust-table--border">
        <thead>
        <tr>
          <th *ngIf="participants"></th>
          <th scope="col" *ngIf="participants">{{'common.Validator.1' | translate}}</th>
          <th scope="col">{{'validators.weight' | translate}}</th>
          <th scope="col" *ngIf="electionsStats">{{'validators.stake' | translate}}, {{'common.TON' | translate}}</th>
          <th scope="col" *ngIf="electionsStats">{{'validators-list-page.bonuses' | translate}}, {{'common.TON' | translate}}</th>
          <th scope="col">{{'validators.public-key' | translate}}</th>
          <th scope="col">{{'validators.adnl-address' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="participants && electionsStats">
          <td colspan="2"><strong>{{'common.Total' | translate}} ({{validatorSet.list.length}}{{'common.after-count' | translate}})</strong></td>
          <td>100%</td>
          <td><span [innerHTML]="electionsStats?.totalStake | amount"></span></td>
          <td><span [innerHTML]="electionsStats?.totalBonuses | amount"></span></td>
          <td></td>
          <td></td>
        </tr>
        <tr *ngFor="let validator of validatorSet.list; let i = index">
          <td>{{i + 1}}</td>
          <td>
            <ng-container *ngIf="participants?.get(validator.publicKey); let address">
              <app-account-square [address]="address.accountAddress"></app-account-square>&nbsp;
              <a class="like-link" [routerLink]="'/validators/' + address.accountWorkchain + ':' + address.accountAddress"
                 [title]="address.accountWorkchain + ':' + address.accountAddress | hash">
                {{address.accountAddress | address : 5 : address.accountWorkchain}}
              </a>
            </ng-container>
          </td>
          <td [title]="computeWeight(validator).mul(100) + '%'">{{computeWeight(validator).mul(100).round(4)}}%</td>
          <td *ngIf="electionsStats" [innerHTML]="computeStake(validator).toString() | amount"></td>
          <td *ngIf="electionsStats" [innerHTML]="computeBonuses(validator).toString() | amount"></td>
          <td>
            <span [title]="validator.publicKey | hash">{{validator.publicKey | hash: 3}}</span>&nbsp;<!--
            --><button type="button" class="btn btn-sm btn-outline-primary btn-copy"
                       ngxClipboard [cbContent]="validator.publicKey | hash">
            <i class="fa fa-copy fa-xs" aria-hidden="true"></i>
          </button>
          </td>
          <td>
            <span [title]="validator.adnlAddr | hash">{{validator.adnlAddr | hash: 3}}</span>&nbsp;<!--
            --><button type="button" class="btn btn-sm btn-outline-primary btn-copy"
                       ngxClipboard [cbContent]="validator.adnlAddr | hash">
            <i class="fa fa-copy fa-xs" aria-hidden="true"></i>
          </button>
          </td>
        </tr>
        <tr *ngIf="participants && electionsStats">
          <td colspan="2"><strong>{{'common.Total' | translate}} ({{validatorSet.list.length}}{{'common.after-count' | translate}})</strong></td>
          <td>100%</td>
          <td><span [innerHTML]="electionsStats?.totalStake | amount"></span></td>
          <td><span [innerHTML]="electionsStats?.totalBonuses | amount"></span></td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>

    <!--    <div class="d-flex justify-content-between tabfooter table-section__footer">-->
    <!--&lt;!&ndash;      <button type="button" class="btn btn-outline-primary">Export to .csv</button>&ndash;&gt;-->
    <!--      <div></div>-->
    <!--      <div class="d-flex justify-content-between table-section__bar">-->
    <!--        <div class="table-section__bar-title">{{'paging.page-size' | translate}}</div>-->
    <!--        <select class="custom-select" [(ngModel)]="pageSize" (change)="changePageSize()">-->
    <!--          <option value="5">5</option>-->
    <!--          <option value="10">10</option>-->
    <!--          <option value="20">20</option>-->
    <!--          <option value="50">50</option>-->
    <!--          <option value="100">100</option>-->
    <!--        </select>-->
    <!--        <button type="button" class="btn btn-outline-primary btn-arrow" [disabled]="page <= 1" (click)="prevPage()">-->
    <!--          <i class="fa fa-caret-left" aria-hidden="true"></i>-->
    <!--          <span>{{'paging.previous-page' | translate}}</span>-->
    <!--        </button>-->
    <!--        <button type="button" class="btn btn-outline-primary btn-arrow" [disabled]="!hasNextPage()" (click)="nextPage()">-->
    <!--          <span>{{'paging.next-page' | translate}}</span>-->
    <!--          <i class="fa fa-caret-right" aria-hidden="true"></i>-->
    <!--        </button>-->
    <!--      </div>-->
    <!--    </div>-->
  </div>
</section>
